.friends {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: calc(100vh - 58px);
  overflow: hidden;

  &__col {
    padding: var(--sp-xl);
    overflow-y: auto;
    height: 100%;

    &--aside {
      border-left: 1px solid var(--b1);
      overflow: hidden;
    }
  }

  // Tablet
  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;

    &__col:first-child {
      display: none;
    }

    &__col--aside {
      border-left: 1px solid var(--b1);
    }
  }

  // Mobile
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
    height: auto;
    overflow: visible;

    &__col:not(&__col--aside) {
      display: none;
    }

    &__col--aside {
      border-left: none;
      padding: var(--sp-md);
    }
  }
}
