.logo{
    cursor: pointer;
    &__text{
        font-family: var(--serif);
        font-size: 28px;
        font-weight: 900;
        color: var(--white);
        letter-spacing: -1.5px;
        line-height: 1;
    }
}