.search-aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid var(--b1);
  border-radius: var(--radius-full);
  padding: var(--sp-lg);

  &__title {
    font-size: var(--text-lg);
    margin-bottom: var(--sp-md);
  }
}
