.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 200;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 201;
    width: 100%;
    max-width: 400px;
    border-radius: var(--radius-lg);
    overflow: hidden;
    box-shadow: var(--shadow-md);
}

.profile__logout {
    background-color: var(--white);
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
    &-footer {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .btn {
            width: 100%;
        }
    }
}