.profile__logout {
  background-color: var(--white);
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: var(--radius-lg);
  overflow: hidden;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  &-footer {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .btn {
      width: 100%;
    }
  }
}
