.profile__content-tabs {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  border-bottom: 1px solid var(--b1);
}

.profile__tab {
  margin-right: 48px;
  color: var(--ink3);
  font-size: 12px;
  font-weight: 700;
  font-family: var(--sans);

  &--active {
    color: var(--blue-d);
  }
}
